[submodule "elisp/egg"]
	path = elisp/egg
	url = git://github.com/bogolisk/egg.git
[submodule "elisp/markdown-mode"]
	path = elisp/markdown-mode
	url = git://code.jblevins.org/markdown-mode.git
[submodule "elisp/web4r"]
	path = elisp/web4r
	url = git@github.com:tomoyuki28jp/web4r-el.git
[submodule "elisp/rvm"]
	path = elisp/rvm
	url = http://github.com/senny/rvm.el.git
[submodule "elisp/rails"]
	path = elisp/rails
	url = git://github.com/remvee/emacs-rails.git
